{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Music_training</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="all">
  <meta name="description"  content="Musical and educational site">
  <meta name="keywords" content="Fortepiano, solfegio">
  <meta name="viewport" content="width=device-width, inicial-scale=1">
  <link href="{% static 'icons/Arrow_up.png' %}" rel="shorcut icon" type="image/x-icon">
</head>
<body>
  <header>
    <div id="logo">
      <a href="/" title="На главную">
        <img src="static/icons/Arrow_up.png" title="Music_training" >
        <span>Music training</span>
      </a>
    </div>
    <div id="about">
      <a href="" title="Узнать детальнее о программах">Программы</a>
      <a href="" title="Написать нам письмо">Обратная связь</a>
    </div>

    <div id="reg_auth">
      <a href='http://127.0.0.1:8000/accounts/login/' title="Войти в личный кабинет">
        <div class="btn">Войти</div>
      </a>
      <a href='http://127.0.0.1:8000/accounts/logout/' title="Выйти">
        <div class="btn">Выйти</div>
      </a>
      <a href="http://127.0.0.1:8000/students/register/" title="Зарегистрироваться">
        <div class="btn">Регистрация</div>
      </a>

    </div>

  </header>
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="mt-3">
            <p class="text-left font-italic">&copy; читатели.</p>
        </footer>
</body>
</html>
