header h1 {

background-color: #11ffee00; /* Fully transparent */
background: url("Group1.png") left/ auto 100% no-repeat,
            url("Group1.png") right / auto 100% no-repeat;
/*
background-size
background-position
background-size: cover
*/
}
.root {
font-size: larger;
}

